[submodule "extensions/system"]
	path = extensions/system
	url = https://github.com/rett/powernode-system.git
	branch = develop
[submodule "extensions/supply-chain"]
	path = extensions/supply-chain
	url = https://github.com/rett/powernode-supply-chain.git
	branch = develop
